.ques-container {
  padding: 1rem;
  border: 1px solid black;
}

.ques-header {
  display: flex;
  gap: 5rem;
  color: blue;
  justify-content: space-between;
}

.ques-details {
  display: flex;
  flex-direction: column;
  color:crimson;
  font-size: small;
}

.ques-items {
  font-size: large;
  padding: 0.5rem;
}
