.quiz-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
}

.quiz-header {
  font-size: xx-large;
  color: blue;
}

.quiz-desc {
  font-size: large;
  color: red;
}

.quiz-items {
  font-size: large;
  padding: 0.5rem;
}
